.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
}
.logo{
    width: 100px;
    padding-left: 20px;
}
.nav-items > ul{
    display: flex;
    align-items: center;
    list-style-type:none;
    font-size: 24px;
}
.nav-items > ul > li{
    margin: 0px 10px;
}
.res-card{
    margin: 5px;
    padding: 5px;
    width: 200px;
    background-color: #f0f0f0;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.filter-btn{
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}
.res-logo{
    width: 100%;
    height: 130px;
}
.shimmer-card{
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
    margin: 10px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.login-btn{
 padding: 6px 14px;
  height: auto;
}
.user-card{
    padding:10px;
    border: 1px solid black;
}